<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale= 1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/blackStyle.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <title>Black Page</title>
</head>
<body>
<div id="container" class="black-page">
  <% include common/header.ejs %>
  <div id="contents" class="black-page__mid">
    <form class="black-page__mid--input">
      <dl>
        <dd>
          <h1>사이트 신고</h1>
          <br>
          <p>사기가 의심되는 사이트가 있다면 신고해주세요.</p>
          <p>빠르게 확인하고 제재하겠습니다</p>
          <br>
        </dd>
        <dd>
          <label for="name"></label>
          <input type="text" id="name" name="name" placeholder="이름" class="black-page__mid--input--name">
        </dd>
        <dd>
          <label for="email"></label>
          <input type="email" id="email" name="email" placeholder=" 이메일" class="black-page__mid--input--email">
        </dd>
        <dd>
          <label for="title"></label>
          <input type="text" id="title" name="title" placeholder=" 제목" class="black-page__mid--input--title">
        </dd>
        <dd>
          <p><textarea placeholder="내용을 입력하세요" class="black-page__mid--input--content"></textarea></p>
        </dd>
        <dd>
          <button type="button" class="black-page__mid--input--btn btnOutline">
            <p class="black-page__mid--input--btn--img">제출</p>
          </button>
        </dd>
        <dd>
          <p>제출해주셔서 감사합니다!</p>
        </dd>
      </dl>
    </form>
  </div>
  <div id="footer">

  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</body>
</html>