<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1">
    <link rel="stylesheet" href="/stylesheets/calenStyle.css">
    <title>Calander Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <% include common/header.ejs %>
  <section id="main"> <!-- 중앙 -->
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FSeoul&amp;src=Y18yc24xdmZuaWdpMmFwdmRsdnVpMDdna3VsNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y19mMWVncnJqbm1rNWYzOHUxNnZkcnVnNnJpa0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y19qN3VicTBnOXJiMHBrbnFiZzA2a2NmY2lkY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y19rYTZhczJoODc2YTBubWs2OWFxcDd0ZDA1Z0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D81B60&amp;color=%23F4511E&amp;color=%23616161&amp;color=%237986CB&amp;showTz=0&amp;showCalendars=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;title=%EA%B2%8C%EC%9E%84%20%ED%95%A0%EC%9D%B8%20%EC%BA%98%EB%A6%B0%EB%8D%94&amp;showTitle=0" style="border:solid 1px #777" width="1800" height="750" frameborder="0" scrolling="no"></iframe>
  </section>
  </body>
</html>