<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1">
    <link rel="stylesheet" href="/stylesheets/faqStyle.css">
    <title>FAQ Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <% include common/header.ejs %>
    <h1 class="top">FAQ</h1>
    <div class="multi">
      <h3>최근에 비밀번호 초기화</h3>
      <br>
      <p>
        비밀번호를 잊어버려서 초기화하는 경우(비밀번호를 변경하는 것과 다름), 5일동안 서비스 이용이 제한됩니다.
        2개월 넘게 활동이 없던 계정의 경우에는 30일 동안 서비스 이용이 제한됩니다.
        이와 같은 제한은 이메일 계정에 접속할 수 없는 사용자를 보호하기 위한 수단입니다.
        <br>
      </p>
      <br>
      <h3>웹브라우저에서 일비에 로그인이 안됨</h3>
      <br>
      <p>
        현재 쓰시는 웹브라우저로 일비 계정에 로그인이 안되는 경우, 다른 브라우저에서도 마찬가지인지 테스트 해보십시오.
        <br>
        <br>
        오래된 확장 프로그램이나 에드온이 여전히 로그인 과정을 발해할 수 있으므로 웹브라우저를 지우고 새로 설치해보시는 것도 한 방법입니다.
        <br>
      </p>
      <br>
      <br>
      <h3>제한된 사용자 계정</h3>
      <br>
      <p>
        제한된 사용자는 일비에서 일부 기능을 사용할 수 없습니다. 스팸 및 피싱 등을 목적으로 일비를 악용하는 사용자로부터
        일반 사용자를 보호하기 위해 일부 기능을 사용하지 못하도록 제한했습니다.
        <br>
      </p>
      <br>
      <br>
      <h3>토론 및 평가에 대한 규칙 및 지침</h3>
      <br>
      <p>
        피드백을 제공하거나 정보를 게시하거나 제품에 관해 토론할 때에는, 그 내용이 부정적이든 긍정적이든 관계없이,
        적절하고 건설적이면서도 정중한 태도를 취해야 합니다. 개발자들은 모든 게시물이나 질문에 응답할 시간이 없더라도 모든 출처의 피드백을 고려합니다.
        <br>
        <br>
        참고로, 관리자와 모더레이터에게는 부적절하거나 모욕적인 콘텐츠 또는 잘못 분류되었다고 판단되는 콘텐츠를
        언제든지 변경하고 수정하고 삭제하고 옮기고 통합할 수 있는 권한이 있습니다.
        <br>
      </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
