<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title>Login Page</title>
  </head>
  <body>
    <div id="container" class="login-page">
      <% include common/header.ejs %>
      <div id="contents" class="login-page__mid">
        <form action="/" method="POST" class="login-page__mid--input" onsubmit="return loginCheck();">
          <dl>
            <dd>
              <br>
            </dd>
            <dd>
              <label for="email"></label>
              <input type="email" id="email" name="email" placeholder="Email" class="login-page__mid--input--id">
            </dd>
            <dd>
              <label for="pw"></label>
              <input type="password" id="pw" name="pw" placeholder=" PW" class="login-page__mid--input--pw">
            </dd>
            <dd>
              <button type="submit" class="login-page__mid--input--btn btnOutline">
                <p class="login-page__mid--input--btn--img">로그인</p>
              </button>
            </dd>
          </dl>
        </form>
      </div>
      <div id="footer">

      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script>
      function signupCheck(){

        var user_data = new Object();
        user_data.name = $("#name").val();
        user_data.email = $("#email").val();
        user_data.age = $("#age").val();
        user_data.pw = $("#pw").val();

        return Ajax("/join/signup", user_data);

      }

      function Ajax(url, data){
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('content-type', "application/json");
        xhr.send(data);

        xhr.addEventListener('load', function (){
          var results = JSON.parse(xhr.responseText);
          if (results["stat"] == "true"){
            alert("가입성공, 어서오세요!")
            location.href = '/login'
            return true;
          } else {
            alert("error")
            $("#email").val("");
            $("#email").focus();
          }
        })
        return false;
      }
    </script>
  </body>
</html>