<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1">
    <link rel="stylesheet" href="/stylesheets/saleStyle.css?ver=1">
    <title>Sale Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <% include common/header.ejs %>
    <aside id="left"> <!-- 왼쪽 -->
      <ul>
        <li><a href="#none"><b>장르</b></a>
          <ul>
            <li><a href="#none">- 액션</a> </li>
            <li><a href="#none">- 어드벤쳐</a> </li>
            <li><a href="#none">- 롤플레잉</a> </li>
            <li><a href="#none">- FPS</a> </li>
            <li><a href="#none">- 레이싱</a> </li>
            <li><a href="#none">- 리듬</a> </li>
            <li><a href="#none">- 전략-전술</a> </li>
            <li><a href="#none">- 스포츠</a> </li>
            <li><a href="#none">- 인디</a> </li>
            <li><a href="#none">- 기타</a> </li>
          </ul>
        <li><a href="#none"><b>가격</b></a>
          <ul>
            <li><a href="#none">- ~10,000</a> </li>
            <li><a href="#none">- ~30,000</a> </li>
            <li><a href="#none">- ~50,000</a> </li>
            <li><a href="#none">- 50,000~</a> </li>
          </ul>
        <li><a href="#none"><b>배급사</b></a>
          <ul>
            <li><a href="#none">- 블리자드</a></li>
            <li><a href="#none">- 에픽게임즈</a></li>
            <li><a href="#none">- 스팀</a></li>
            <li><a href="#none">- 락스타</a></li>
            <li><a href="#none">- 오리진</a></li>
          </ul>
        <li><a href="#none"><b>태그</b></a>
          <ul>
            <li><a href="#none">- 윈도우</a></li>
            <li><a href="#none">- 맥</a></li>
            <li><a href="#none">- 싱글플레이</a></li>
            <li><a href="#none">- 멀티플레이</a></li>
            <li><a href="#none">- 온라인</a></li>
            <li><a href="#none">- 오프라인</a></li>
          </ul>
      </ul>
    </aside>
    <table class="imsi">
      <tr>
        <th scope="row"><a href="#none"><IMG src="C:/Users/song/Desktop/WebSite/판매이미지/GTA.png"></a></th>
        <td><b>GTA5</b></td>
        <td>
          <li>STEAM</li>
          <A href = "https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/">33,000원</A>
          <li>EPIC</li>
          <A href = "https://www.epicgames.com/store/ko/p/grand-theft-auto-v">33,000원</A>
        </td>
      </tr>
      <tr>
        <th scope="row"><a href="#none"><IMG src="C:/Users/song/Desktop/WebSite/판매이미지/철권.png"></a></th>
        <td><b>철권7</b></td>
        <td>
          <li>STEAM</li>
          <A href = "https://store.steampowered.com/app/389730/TEKKEN_7/?l=koreana">43,800원</A>
        </td>
      </tr>
      <tr>
        <th scope="row"><a href="#none"><IMG src="C:/Users/song/Desktop/WebSite/판매이미지/DIABLO.png"></a></th>
        <td><b>DIABLO</b></td>
        <td>
          <li>BLIZZARD</li>
          <A href = "https://kr.shop.battle.net/ko-kr/family/diablo-iii">16,000원</A>
        </td>
      </tr>
      <th scope="row"><a href="#none"><IMG src="C:/Users/song/Desktop/WebSite/판매이미지/nier.png"></a></th>
      <td><b>NieR Replicant</b></td>
      <td>
        <li>STEAM</li>
        <A href = "https://store.steampowered.com/app/1113560/NieR_Replicant_ver122474487139/">69,800원</A>
      </td>
      </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
