
<link rel="stylesheet" href="/stylesheets/headStyle.css">
<header> <!-- 왼쪽 상단 -->
  <h1>
    <a href="/game/main"> <img src="/images/header/ilbmark.jpg" alt="ilb" width="80" height="50"></a>
  </h1>
  <div id="top_menu">
    <a href="log-in.html">로그인</a>
    <a href="log-out.html">회원가입</a>
    <a href="my.html">마이페이지</a>
    <a href="mun.html">문의사항</a>
  </div>
</header>
<nav> <!-- 중앙 -->
  <ul>
    <li><a href="/game/main">메인</a></li>
    <li><a href="/game/calender">캘린더</a></li>
    <li><a href=".html">후기 및 평가</a></li>
    <li><a href="BLL.html">블랙리스트</a></li>
    <li><a href="fame.html">인기자료</a></li>
    <li><a href="/game/faq">FAQ</a></li>
    <li><a href="http://facebook.com"><IMG src="/images/header/facebook.jpg" border="0" width="30"></a></li>
    <li><a href="http://Twitter.com"><IMG src="/images/header/Twitter.png" border="0" width="30"></a></li>
    <li><a href="http://Instagram.com"><IMG src="/images/header/Insta.jpg" border="0" width="30"></a></li>
  </ul>
</nav>